<header>
    <div class="logo" (click)="moveHome()">
        <img src="assets/image/personnage/Patrick.png" alt="">
    </div>
    <h1>{{ titre }}</h1>
    <nav [ngClass]="{ 'open': showMenu }">
        <ul>
            <li (click)="moveHome()">Accueil</li>
            <li (click)="moveEpisode()">Épisodes</li>
            <li (click)="movePersonnage()">Personnages</li>
            <li (click)="moveJeux()">Jeux</li>
        </ul>
        <button class="hamburger-menu" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</header>