header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 1rem;
    z-index: 100;
  }
  
  .logo {
    width: 200px;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    object-fit: contain;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li:not(:last-child) {
    margin-right: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #222;
  }
  
  .hamburger-menu {
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 101;
  }
  
  .hamburger-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    position: relative;
    transform-origin: center;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger-menu span:nth-child(2) {
    margin: 5px 0;
  }
  nav.open .hamburger-menu span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  
  nav.open .hamburger-menu span:nth-child(2) {
    opacity: 0;
  }
  
  nav.open .hamburger-menu span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }
  
  /* Styles pour les petits écrans */
  @media screen and (max-width: 900px) {
    header nav ul {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
  
    header nav.open li {
      margin-bottom: 0.5rem;
    }
    header nav.open ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        background-color: #222;
        padding: 1rem;
        margin-top: 30px;
      }
  }
  