<header>
    <div class="logo">
        <img src="assets/image/personnage/Patrick.png" alt="">
    </div>
    <h1>{{ titre }}</h1>
    <nav [ngClass]="{ 'open': showMenu }">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/episode">Episode</a></li>
            <li><a href="/personnage">Personnage</a></li>
            <li><a href="/jeux">Jeux</a></li>
            <li>
                <a *ngIf="!(isLoggin$ | async)" href="/login">Login</a>
                <a *ngIf="(isLoggin$ | async)" href="#" (click)="logout()">Logout</a>
            </li>
        </ul>
        <button class="hamburger-menu" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</header>