<section>
    <div class="intro">
        <h2>{{titre}}</h2>
        <p>Voici le jeu "Patrick le Stégosaure". Il est disponible en téléchargement pour Windows via ce lien : <a [href]="url_Download"> lien pour télécharger</a></p>
    </div>
    <div class="jeu">
        <div class="pair">
            <img src="assets/image/jeux/menu.png" alt="">
            <p>Le jeu "Patrick le Stégosaure" vous permet de revivre les trois premiers épisodes de la série, mais cette fois-ci en incarnant Patrick lors de combats gargantuesques et inoubliables.</p>
        </div>
    </div>
    <div class="jeu">
        <div class="impair">
            <img src="assets/image/jeux/Collection.png" alt="">
            <p>Dans ce jeu, il y a un système d'objets à collectionner qui est lié à l'univers de Patrick le Stégosaure. Chaque map contient trois de ces objets, dont l'un est obtenu comme trophée une fois que l'on a vaincu le boss.</p>    
        </div>
    </div>
    <div class="jeu">
        <div class="pair">
            <img src="assets/image/jeux/jeu.png" alt="">
            <p>Le jeu "Patrick le Stégosaure le Jeu" est un classique jeu de plateforme où vous pouvez collecter des objets bonus et éliminer des ennemis. Grâce à l'agilité de Patrick, vous serez en mesure de progresser rapidement et de remporter la victoire. Allez-y et amusez-vous bien Lezgongue !</p>
        </div>
    </div>
</section>
