<section>
    <h2>{{titre}}</h2>
    <article>
        <h3>Description de Patrick Le Stégosaure</h3>
        <img src="assets/image/personnage/Patrick.png" alt="">
        <p>
            Patrick est un stégosaure, Kalash est un magicarpe, Thierry est un T-rex et Pouet est une poule. Ensemble, ils sont amis et vivent paisiblement dans une grotte dans une forêt. Chez Patrick, il y a beaucoup de dinosaures qui sont venus s'imposer. Tous les dinosaures sont différents et beaucoup sont méchants. Patrick a donc comme mission de les arrêter et de faire régner la paix dans son monde... mais pas que...
        </p>
    </article>
    <article>
        <h3>Voici l'Épisode 1 de Patrick Le Stégosaure</h3>
        <div class="iframe">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/l1oIhw3PvQQ" title="PLS#1 Le combat contre Thierry !" frameborder="0" allowfullscreen></iframe>
        </div>
        
    </article>
</section>